<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq73HXJ9hBLelEYMl60vjKNZNx1zXYuAo</string>
	<key>GCM_SENDER_ID</key>
	<string>211559585943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageFlutter</string>
	<key>PROJECT_ID</key>
	<string>message-flutter-74905</string>
	<key>STORAGE_BUCKET</key>
	<string>message-flutter-74905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211559585943:ios:6153402bfd607f51a971d2</string>
</dict>
</plist>